[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = https://github.com/nono/jquery.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/DoxygenTookit"]
	path = bundle/DoxygenTookit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/gocode"]
	path = bundle/gocode
	url = https://github.com/golangtw/gocode.vim.git
[submodule "bundle/go.vim"]
	path = bundle/go.vim
	url = https://github.com/golangtw/go.vim.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
